.timer {
  align-items: center;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  position: relative;
  width: 500px;
  z-index: 2;
}

.start {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start:hover {
  opacity: 1;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

.settings:hover {
  opacity: 1;
}
