.section {
  z-index: 2;
  text-align: start;
  padding: 20px;
  overflow: hidden;
}

.section > .container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.section > .container > .title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
